<h1>
  <%= @post.title %>
</h1>

<p>
  <%= @post.body %>
</p>
<p>
  <%= link_to 'Editar', edit_post_path %> | <%= link_to 'Eliminar', @post, method: :delete, data: { confirm: "¿Estás seguro?"} %>
</p>
