// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titulo-post-index{
  height: 30px;
  width: 100%;
}

.cover-post-index{
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
}
